@import '../../config';

.about {
  @include full-screen;
  position: relative;
  background-color: $background-color;

  &__img-wrap {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;

    &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($background-color, .5);
      content: '';
      z-index: 4;
    }

    .about__img {
      width: 100%;
      height: auto;
      min-width: 100%;
      min-height: 60%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  &__title {
    @include page-title;
    position: absolute;
    @include element-to-center;
    background-color: $overlay;
    backdrop-filter: blur(1px);
    padding: 5% 15%;
    z-index: 5;
  }
}
