.logo-wrap {
  position: relative;

  .logo {
    height: 7vh;
    position: fixed;
    top: .75rem;
    left: 1.5rem;
    cursor: pointer;
    z-index: 50;
  }

  .logo-link {
    width: 17%;
    height: 10vh;
    position: fixed;
    top: 1rem;
    left: 1.2rem;
    background-color: transparent;
    z-index: 51;
  }
}
