@import '../../config/scssConfig';

.btns {
  width: 100%;
  height: 10vh;
  @include row-center-center;
  padding-bottom: 5vh;

  .btns__wrap {
    width: 100%;
    color: #cccccc;
    @include row-between-center;
    z-index: 100;

    .btns__link {
      width: 45%;

      &-btn {
        width: 100%;
        height: 100%;
        background-color: $overlay;
        @include menu-font;
        font-size: 1.5rem;
        padding: 0.8vh 0;
        cursor: pointer;

        &:hover {
          border: $main-hover-color 1px solid;
          color: $main-color;
        }
      }

      .btn-1 {
        border: $main-hover-color 1px solid;
        color: $main-color;
      }

      .btn-2 {
        border: $text-font-color 1px solid;
        color: $text-font-color;
      }
    }
  }
}
