@import '../../config/scssConfig';

.nav-btn {
  height: 35px;
  @include column-center-center;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  @include ease-out;
  cursor: pointer;
  z-index: 50;

  .nav-line {
    width: 2rem;
    height: 2px;
    background-image: linear-gradient(
      to right,
      $main-hover-color 50%,
      $main-color 50%
    );
    background-size: 200% 100%;
    background-position: right bottom;
    @include ease-out;
    margin-bottom: 5px;
  }

  &.open {
    transform: rotate(180deg);
    @include ease-out;

    .nav-line:nth-child(1) {
      background-position: left bottom;
      transform: rotate(45deg) translate(5px, 5px);
      @include ease-out;
    }

    .nav-line:nth-child(2) {
      background-position: left bottom;
      transform: rotate(-45deg) translate(.5px, .5px);
      @include ease-out;
    }
  }
}
