@import "src/colors";

.video-wrapper {
    width: 100%;
    height: 100vh;

    position: relative;

    .title {
        position: absolute;
        margin-top: 5vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #9D231F;
        width: 35%;
        z-index: 5;
    }
}

.video-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(7, 7, 7, 0.8);

}

.video-player {
    width: 100%;
    height: 100vh;
    min-width: 100%;
    min-height: auto;
    object-fit: cover;
}



