//Colors
$main-color: #FFB915;
$main-hover-color: #9D231F;
$overlay: rgba(#121212, .85);

//fonts
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

//Mixins
@mixin ease-out {
  transition: all .8s ease-out;
}

@mixin menu-font {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .1rem;
}