@import 'config/scssConfig';

//* {
//  margin: 0;
//  padding: 0;
//}

body,
.App {
  @include full-screen;
  overflow: hidden;
}

h2  {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

a {
  font-size: 1.5rem;
}

.App {
  position: relative;
}
