@import './config';

* {
  margin: 0;
  padding: 0;
}

body,
.App {
  @include full-screen;
  overflow: hidden;
}

p {
  font-size: 1rem;
}

a {
  font-size: 1.5rem;
}

.App {
  position: relative;
}
